header {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: right;
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    padding: 5px;
    color: var(--primary-color);
}

