<div class="big-container">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">

        @if (errorMessage()) {
        <div class="error-global">
            {{ errorMessage() }}
        </div>
        }

        <div class="container">
            <div class="container-header">
                <h1>¡Bienvenido a ProjectPokemon!</h1>
                <span>Rellena los datos para crear tu cuenta.</span>
            </div>

            <div class="div-form">

                @for (field of ['nickname','email','password','confirmPassword']; track field) {

                <div class="div-input">
                    <span>
                        {{ getLabel(field) }}
                        <span class="required"> *</span>
                    </span>

                    <input [type]="field === 'password' || field === 'confirmPassword' ? 'password' : 'text'"
                        [formControlName]="field" [placeholder]="getLabel(field)" autocomplete="off">

                    @if (field === 'password' && passwordValue.length > 0) {
                        <ul class="password-reqs">
                            <li [class.req-ok]="reqLength">Mínimo 6 caracteres</li>
                            <li [class.req-ok]="reqUppercase">Al menos una mayúscula</li>
                            <li [class.req-ok]="reqNumber">Al menos un número</li>
                            <li [class.req-ok]="reqSpecial">Al menos un carácter especial</li>
                        </ul>
                    }

                    @if (registerForm.get(field)?.touched && registerForm.get(field)?.invalid) {
                    <div class="error">
                        {{ getAngularError(field) }}
                    </div>
                    }

                    @if (
                    field === 'confirmPassword' &&
                    registerForm.errors?.['passwordsMismatch'] &&
                    registerForm.get('confirmPassword')?.touched
                    ) {
                    <div class="error">
                        Las contraseñas no coinciden
                    </div>
                    }

                </div>

                }

                <div class="div-input">
                    <button type="submit" class="btn" [disabled]="registerForm.invalid">
                        Registrarse
                    </button>
                    <span class="small-text">
                        ¿Ya tienes cuenta?
                        <a routerLink="/login">¡Inicia sesión!</a>
                    </span>
                </div>

            </div>
        </div>
    </form>
</div>