#canvas {
    position: relative;
    background-image: url(/assets/battlegrounds/battleground-grass.png);
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    background-size: contain;
    width: 70%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px 30px 0px 30px;
    gap: 20px;
}

.enemy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex: 1;
    min-height: 0;
}

.ally {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex: 1;
    min-height: 0;
}

.enemy img {
    width: 15%;
    image-rendering: pixelated;
    height: auto;
}

.ally img {
    width: 20%;
    image-rendering: pixelated;
    height: auto;
}

#moves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}